:host {
  width: 100%;
}
.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  align-items: center;
  width: 100% !important;
  .pagination {
    display: flex;
    ul {
      margin: 0;
      list-style: none;
      li {
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        margin: 0 1px;
        background-color: #f6f6f6;
        &.active{
          background-color: #0d775e;
          color: #ffffff;
        }
      }
    }
  }
}
