<div class="loading" *ngIf="loading">loading....</div>
<ng-container *ngIf="!loading">
  <div class="foot">
    <app-pagination
      [currentPage]="selectedPage"
      [productPerPage]="productPerPage"
      [total]="totalItems"
      (changePage)="changePage($event)"
      (itemPerPage)="changePageSize($event)"
    ></app-pagination>
  </div>
  <div class="product-wrapper">
    <app-item *ngFor="let item of products" [prod]="item"></app-item>
  </div>
</ng-container>

<!-- <div class="total">Total Item : {{ totalItems }}</div>
<div class="pagi">
  <select [value]="productPerPage" (change)="changePageSize($event)">
    <option value="5">5 Per Page</option>
    <option value="10">10 Per Page</option>
    <option value="15">15 Per Page</option>
  </select>
  <ul>
    <li *ngFor="let page of pageNumbers" (click)="changePage(page)">
      {{ page }}
    </li>
  </ul>
</div> -->