/* You can add global styles to this file, and also import other style files */
@import url("./assets/fonts/stylesheet.css");

$primaryFont: "Poppins";
$primaryFontSize: "16px";



body {
  min-height:100vh;
  height: auto;
  font-family: $primaryFont;
  font-size: $primaryFontSize;
}
